<!doctype html>

<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HubForum</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="nav"><h1>Strona główna</h1></div>
    <div class="main">
      <div id="container" class="container">
        <table class="table">
          <thead class="table-head">
            <th>Nazwa</th>
            <th>Data powstania</th>
            <th>Ostatni post</th>
            <th>Liczba postów</th>
            <th>Akcje</th>
          </thead>
          <tbody id = "table-body"></tbody>
        </table>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
