<!doctype html>

<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HubForum</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="nav"><h1>Logowanie</h1></div>
    <div class="main">
      <div class="form-container">
        <form class="form-login" action="/login" method="post">
            <label>Nazwa użytkownika</label>
            <input name="login" type="text" required/>
            <label>Hasło</label>
            <input name="password" type="password" required/>
            <div class="form-login-button-containter">
              <button type="submit">Wyślij</button>
            </div>
            <div class="form-login-login">
              <a href = "/signup">Nie masz jeszcze konta? Stwórz je.</a>
            </div>
        </form>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
