<!doctype html>

<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HubChan</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="index/style.css">
  </head>

  <body>
    <div class="nav"><h1>Rejestracja</h1></div>
    <div class="main">
        <form action="/signup" method="post">
            <input name="login" type="text" required/>
            <input name="password" type="password" required/>
            <button type="submit">Wyślij</button>
        </form>
    </div>
    <script src="index/main.js"></script>
  </body>
</html>
